.container {
    margin: 10% 10%;
}

.item {
    min-height: 40rem;
    min-width: 30rem;
    background-color: #24568E;
    border-radius: 2rem;
    margin-left: 2%;
}

.item img{
    width: 80%;
    height: 80%;
    pointer-events: none;
    left: 5%;
}

.item h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

.inner-carousel{
    display: flex;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}