.firstpage {
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.titulo {
    font-weight: 700;
    color: white;
    line-height: 5.0625rem;
    position: absolute;
    top: 12.5rem;
    left: 6.25rem;
}

.parrafo {
    font-weight: 400;
    color: white;
    position: absolute;
    left: 6.25rem;
    top: 25.75rem;
}

.CTA {
    position: absolute;
    width: 5em;
    height: 2em;
    top: 13em;
    left: 2em;
    border: none;
    border-radius: 50px;
    background-color: #E25B22;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 3.125rem;
}

.CTA:hover {
    cursor: pointer;
}

.background {
    width: 100%;
}

.background_img {
    width: 75%;
}

.laptop {
    width: 70%;
    position: absolute;
    left: 30%;
    top: 10%;
}